pre, code {
  font-family: Consolas, Inconsolata, monospace;
}

a {
  color: steelblue;
}

/* Ensure dropdown is fully shown */
.dropdown-menu {
  max-height: none !important;
  overflow-y: visible !important;
}